bcrypt
pycrypto

# Ubuntu
# sudo apt-get install build-essential libffi-dev python-dev
# sudo apt-get install build-essential libssl-dev libffi-dev python-dev

# Fedora/CentOS
# sudo yum install gcc libffi-devel python-devel
# sudo yum install gcc libffi-devel python-devel openssl-devel